---
import "@/styles/globals.css";
import { Toolbar } from "@/features/toolbar";

export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <div class="md:hidden">
      <img
        src="https://picsum.photos/768/1280"
        width={768}
        height={1280}
        alt="Music"
        class="block max-h-full w-auto"
      />
    </div>
    <div class="hidden md:block md:h-full md:w-full md:overflow-hidden">
      <Toolbar client:load />
      <div class="border-t">
        <slot />
      </div>
    </div>
  </body>
</html>
